<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
    <title>Edit Blog</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <div class="content">
        <h2>Edit Blog</h2>
        <form action="/blogs/<%= blog._id %>?_method=PUT" method="POST">
            <label for="title">Title:</label><br>
            <input type="text" id="title" name="title" value="<%= blog.title %>"><br><br>
            
            <label for="snippet">Snippet:</label><br>
            <input type="text" id="snippet" name="snippet" value="<%= blog.snippet %>"><br><br>
            
            <label for="body">Body:</label><br>
            <textarea id="body" name="body"><%= blog.body %></textarea><br><br>
            
            <!-- Hidden field to display blog ID for reference -->
            <input type="hidden" id="blogId" name="blogId" value="<%= blog._id %>">

            <input type="submit" value="Update Blog">
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>

</body>
</html>
